<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.OmsLogisticOrderMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.OmsLogisticOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="logistic_order_no" jdbcType="VARCHAR" property="logisticOrderNo" />
    <result column="total_weight" jdbcType="DOUBLE" property="totalWeight" />
    <result column="total_number" jdbcType="INTEGER" property="totalNumber" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="express_price" jdbcType="DECIMAL" property="expressPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_no, order_id, logistic_order_no, total_weight, total_number, total_price, 
    express_price
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.OmsLogisticOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_logistic_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_logistic_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oms_logistic_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.OmsLogisticOrderExample">
    delete from oms_logistic_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.OmsLogisticOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_logistic_order (order_no, order_id, logistic_order_no, 
      total_weight, total_number, total_price, 
      express_price)
    values (#{orderNo,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, #{logisticOrderNo,jdbcType=VARCHAR}, 
      #{totalWeight,jdbcType=DOUBLE}, #{totalNumber,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, 
      #{expressPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.OmsLogisticOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_logistic_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="logisticOrderNo != null">
        logistic_order_no,
      </if>
      <if test="totalWeight != null">
        total_weight,
      </if>
      <if test="totalNumber != null">
        total_number,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="expressPrice != null">
        express_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="logisticOrderNo != null">
        #{logisticOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="totalWeight != null">
        #{totalWeight,jdbcType=DOUBLE},
      </if>
      <if test="totalNumber != null">
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="expressPrice != null">
        #{expressPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.OmsLogisticOrderExample" resultType="java.lang.Integer">
    select count(*) from oms_logistic_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_logistic_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.logisticOrderNo != null">
        logistic_order_no = #{record.logisticOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.totalWeight != null">
        total_weight = #{record.totalWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.totalNumber != null">
        total_number = #{record.totalNumber,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.expressPrice != null">
        express_price = #{record.expressPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_logistic_order
    set id = #{record.id,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=BIGINT},
      logistic_order_no = #{record.logisticOrderNo,jdbcType=VARCHAR},
      total_weight = #{record.totalWeight,jdbcType=DOUBLE},
      total_number = #{record.totalNumber,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      express_price = #{record.expressPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.OmsLogisticOrder">
    update oms_logistic_order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="logisticOrderNo != null">
        logistic_order_no = #{logisticOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="totalWeight != null">
        total_weight = #{totalWeight,jdbcType=DOUBLE},
      </if>
      <if test="totalNumber != null">
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="expressPrice != null">
        express_price = #{expressPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.OmsLogisticOrder">
    update oms_logistic_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=BIGINT},
      logistic_order_no = #{logisticOrderNo,jdbcType=VARCHAR},
      total_weight = #{totalWeight,jdbcType=DOUBLE},
      total_number = #{totalNumber,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      express_price = #{expressPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>